.content-tablet {
  display: none;
}

body {
  background: #fff;
}

.plyr--full-ui .plyr__video-embed>.plyr__video-embed__container {
  padding-bottom: unset!important;
  position: static!important;
  transform: unset!important;
}

@media only screen and (max-width: 767px) {
  .content-tablet {
    display: block;
  }
  .content-desk {
    display: none;
  }
}